/* DOCUMENT INFORMATION
	- Document: SCSS Style for Portfolio
	- Version:  1
	- Author:   Anthony BARNOIN
*/

$bs-navy: #2d4059;
$bs-red: #ea5455;
$bs-orange: #f07b3f;
$bs-yellow: #ffd460;

$header-text-color: #fff;
$base-font-size: 105%;
$container-shadow: 0rem 0rem 1rem 0.1rem rgba(black, 0.2);
